@charset "utf-8";
/* CSS Document */

body {
  color: #000;
  background: #332f29;
  font-size: 100%;
}
#contenedor {
  width: 800px;
  background: #8fa68e;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
nav {
  background: #cc3910;
  float: left;
  width: 160px;
}
ul {
  list-style-type: none;
}
a {
  color: #f1f2c0;
  text-decoration: none;
}
section {
  background: #f1f2c0;
  float: left;
  margin: 0 0 0 25px;
  width: 400px;
}
aside {
  background: #ccc59e;
  float: right;
  width: 190px;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 800px) {
  #contenedor {
    background-color: aliceblue;
    width: 90%;
    max-width: 800px;
  }

  section {
    width: 100%;
    margin: 0;
    float: none;
  }

  aside {
    width: 100%;
    float: none;
  }
}
