.caja{
    /*background-color: yellow;*/
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 100px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 5%, rgba(253,187,45,1) 100%);
    box-shadow: 10px 10px 0px black;
                /*eje x - eje y - blur - color*/
    border-radius: 20px;
    border: 5px ;
}
div{
    background-color: yellow;
    column-count: 2;
    column-gap: 100px;
    column-rule: 3px solid black;
}