html, body{
  background-color: #fff7e9;
}
.layout {
  width: 1200px;
  height: 768px;
  margin: 0 auto;
  display: grid;
  flex-direction:row;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
  font-family: arial;
}

.header-nav{
  background-color:indigo ;
  display: flex;
  gap: 16px;
  height: 120px;
}

.logo img{
  padding: 0px 20px;
}

.layout ul{

	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 50px 100px; */

}

.layout ul li {
	list-style: none;
	margin-left: 62px;
	margin-top: 27px;

}

.layout ul li a{
  text-decoration: none;
  font-family: arial;
	color: white;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;

}

.layout ul li a:hover{
	color:red;

}

.main {
   grid-area: main;
   gap: 16px;
}

.main .expreriencia{
  display: flex;
  gap: 16px;
  
}

.main #expe-1{
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.main .expreriencia .expe-2{
  text-align: center;
  margin: 20px 70px;
  line-height: 1.5em;
}

.main .expreriencia .expe-4{
  text-align: center;
  margin: 50px 70px;
  line-height: 1.5em;
}

.main .expreriencia .expe-3{
  border: 10px solid indigo;
}

.main .expreriencia .quienessomos{
  text-align: center;
  margin: 50px 70px;
  line-height: 1.5em;
}
/*******************
galeria
*********************/
.fotos {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.foto{
  display: flex;
  gap: 16px;
  object-fit: cover;
  object-position: center;
  padding: 6px;
}

.foto img:hover{
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05);
  transform: rotate(-1.2deg) scale(1.05);
  transition: 0.6 ease-out;
  filter: grayscale(0.9);
}
.social{
  display: flex;
  gap: 16px;
}

/*servicios*/
.Servicios{
  display: flex;
  gap: 16px;
}

.vias-comunicacion .comunicacion ul li{
  display: inline-block;

}



h2{
  line-height: 1.5em;
}
/*pie de pagina*/
.footer {
  background: #CCCCCC;
  grid-area: footer;
  gap: 16px;
  height: 80px;
}

.footer .piedepagina{
  color: white ;
  text-align: center;
  margin: 50px 70px;
  line-height: 1.5em;
}